
  <!-- PRELOADER-->
  <div class="grid" *ngIf="preloader">
    <section class="loader">
      <h1 class="page-title"> Coins werden geladen... </h1>
      <div class="dot-container">
        <div class="dot dot1"></div>
        <div class="dot dot2"></div>
        <div class="dot dot3"></div>
      </div>
    </section>
  </div>
  <!-- CONTENT -->
<div class="container" *ngIf="!preloader">
  <div style="position: sticky;top: 0;z-index: 999;background-color: #ecf0f1;">
    <!-- FILTER -->
    <h1>Filter</h1> 
    <hr class="style" />
    <input type="text" style="margin-bottom: 10px;" placeholder="Namen suchen..." [(ngModel)]="search_name_text" (input)="search_symbol_text='';search_text=search_name_text;search_item='name'"/> 
    <input type="text" style="margin-bottom: 10px;" placeholder="Symbole suchen..." [(ngModel)]="search_symbol_text" (input)="search_name_text='';search_text=search_symbol_text;search_item='symbol'"/> 
    <button (click)="sort_by_name()">{{sort_text_name}}</button>
    <button (click)="sort_by_symbol()" style="margin-bottom: 10px;"> {{sort_text_symbol}}</button>
    <div style="text-align: center;color:#2c3e50">{{sort_text}}</div>
    <hr class="style" />
  </div>
  <!-- LIST OF COINS-->
  <h1>Coins</h1> 
  <hr class="style" />
  <div class="row">
    <div class="col">
      <div class="tabs">
        <div class="tab" *ngFor="let coin of coins | search:search_item: search_text | orderby:sort_by:sort_type;let i = index" (click)="get_coin_detail(coin.id)">
          <input type="radio" [id]="i" name="rd">
          <label class="tab-label" [for]="i">
              {{coin.name}} ({{coin.symbol}})
          </label>
          <div class="tab-content">
            <!-- COIN DETAIL -->
            <div *ngIf="coin_detail_loader">
              <h1>Bitte warten...</h1>
            </div> 
            <div *ngIf="!coin_detail_loader">
              <p><img [src]="selected_coin.image" /></p>
              <p><b>Name: </b>{{selected_coin.name}} </p>
              <p><b>Symbol: </b>{{selected_coin.symbol}} </p>
              <p><b>Kategorien: </b>{{(selected_coin.categories.length == 0) ? 'Keine Kategorien gefunden' : selected_coin.categories }} </p>
              <p><b>Homepage: </b>{{selected_coin.homepage}} </p>
              <p><b>genesis_date: </b>{{selected_coin.genesis_date}} </p>
              <p><b>Current_price: </b>{{selected_coin.current_price}} &euro;</p>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
 </div> 
